@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Crimson Pro", serif;
  
  --color-brand-bg: #2c1e14;
  --color-paper-light: #fdfaf2;
  --color-paper-dark: #fbf8ef;
  --color-accent-tan: #d9c5b2;
}

body {
  @apply bg-[#2c1e14] antialiased text-[#d9c5b2];
}

/* Page flip transition helper */
.perspective-2000 {
  perspective: 2000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

/* Custom scrollbar for text boxes */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}
